body{
    background-color: black;
    margin: 0;
    height: 100%;
}

.form-control-icon {
    position: relative;
  }

  .form-control-icon i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    color: black;
  }

  .card-link {
    text-decoration: none;
    text-align: center;
  }

  .card{
    width: 900px;
    margin: 0px 10px 20px 30px;
  }

  .container-sm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1600px;
  }

  .static-container {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: auto;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .movable-container {
    background-color: lightgreen;
    padding: 20px;
    margin-bottom: 20px;
    cursor: grab;
  }

  .container-mas {
    text-align: center;
  }
  